<div class="cuerpo">
    <h1>{{this.primeraMayus()}}</h1>

    @if (!resultado || resultado.length === 0) {
        <div class="spinner-border text-primary cargando" role="status">
            <span class="visually-hidden cargando1">Cargando...</span>
          </div>
    }
    @else {
        <div class="galeria">
            @for(linea of resultado; track $index){
        
                <figure class="imagen" (click)="moversea('individual', linea.titulo)">
                    <img src={{url}}{{linea.foto}}  alt={{linea.titulo}}>
                    <p class="texto">{{linea.titulo}}</p>
                </figure>}
            </div> 
    }
    <div class="pie"></div>
</div>
