.carrusel {
    width: 50%;  
    margin: 0 auto;           /* Centra el carrusel en la página */
    background-color: #5a5550;
    border-radius: 15px;
  }
  
  .centro {
    width: 100%;              /* Asegura que ocupe todo el carrusel */
    height: 100%;            /* Ajusta la altura del carrusel */
    cursor: pointer;
  }
  
  .centro img {
    object-fit: contain;        /* Asegura que las imágenes llenen el contenedor */
    height: 100%;             /* Asegura que las imágenes respeten la altura */
    width: 100%;              /* Asegura que las imágenes respeten el ancho */
  }

  .imagenCarrusel{
    margin: 20px;
  }

  .cuerpo{
   background: #ada399; /* Cambia los colores según prefieras */
    margin: 0; /* Elimina márgenes predeterminados */
    background-size: auto; /* Asegura que cubra toda la altura de la pantalla */
  }
  h1 {
    margin-bottom: 20px;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 45%; /* Ajusta el espacio entre letras */
    font-size: 300%;
    text-align: center;
  }

  .contenedor{
    margin-top: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .categorias{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px;
    width: 200px;             /* Ancho del contenedor */
    height: 200px;            /* Alto del contenedor */
    align-items: center;      /* Centra horizontalmente */
    text-align: center;       /* Alinea el texto */
    cursor: pointer;
    
  }
  .pequenia {
    width: 160px;              /* Imagen ocupa todo el ancho del contenedor */
    height: 160px;             /* Ajusta la altura proporcionalmente */
    margin-left: 10px;
    border-radius: 150px;
  }
  .pequenia:hover{
    background-color: #4b4742ad;
    cursor: pointer;
  }