.carrusel {
    width: 80%;  
    height: 500px;            /* Ajusta la altura del carrusel */
    margin: 0 auto;           /* Centra el carrusel en la página */
  }
  
  .centro {
    width: 100%;              /* Asegura que ocupe todo el carrusel */
    height: 500px;            /* Ajusta la altura del carrusel */
  }
  
  .centro img {
    object-fit: cover;        /* Asegura que las imágenes llenen el contenedor */
    height: 100%;             /* Asegura que las imágenes respeten la altura */
    width: 100%;              /* Asegura que las imágenes respeten el ancho */
  }
  .cuerpo{
    background: linear-gradient(to bottom, #ce6400, #cd8745); /* Cambia los colores según prefieras */
    margin: 0; /* Elimina márgenes predeterminados */
    height: 100vh; /* Asegura que cubra toda la altura de la pantalla */
  }
