<div class="cuerpo">
    <div class="contacto">
        <h1>CONTACTO</h1>

        <h4><a href="https://www.instagram.com/carterista_cuerador?igsh=NTZoNWpkcGp2b2F1" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram">  </i>  Instagram   <i class="bi bi-instagram"></i></a></h4>
        <h4><a href="tel:+34608175135" target="_blank" rel="noopener noreferrer"><i class="bi bi-whatsapp">  </i>  Whatsapp   <i class="bi bi-whatsapp"></i></a></h4>
        <h4><a  href="https://www.tiktok.com/@carterista.cuerador?_t=8rr05iLSfLt&_r=1" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok">  </i>  TikTok   <i class="bi bi-tiktok"></i></a></h4>
        
        <h5 class="ultimo">Escribenos sin comprosimo por redes sociales y pregunta precio y personalizaciones</h5>
    </div>
    
    
</div>