<div class="cuerpo">
    <h1>{{this.primeraMayus()}}</h1>

    @if (!resultado || resultado.length === 0) {
      <div class="Loading"> Cargando</div>
    }
    @else {
        <div class="galeria">
            @for(linea of resultado; track $index){
        
                <figure class="imagen" (click)="moversea('individual', linea.titulo)">
                    <img src={{url}}{{linea.foto}} class="img-thumbnail" alt={{linea.titulo}}>
                    <figcaption class="texto">{{linea.titulo}}</figcaption>
                </figure>}
            </div> 
    }
    
</div>
