<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4 d-flex justify-content-around">
      <div class="botones">
        <button type="button" class="btn btn-light" (click)="moversecon('categoria', 'Carteras')">Carteras</button>
        <button type="button" class="btn btn-light" (click)="moversecon('categoria', 'Monederos')">Monederos</button>
        <button type="button" class="btn btn-light" (click)="moversecon('categoria', 'Tabaqueras')">Tabaqueras</button>
        <button type="button" class="btn btn-light" (click)="moversecon('categoria', 'Riñoneras')">Riñoneras</button>
        <button type="button" class="btn btn-light" (click)="moversecon('categoria', 'Otros')">Otros</button>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button
      class="puntos navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar">
      <button class="btn" (click)="moversea('/')">Inicio</button>
      <button class="btn" (click)="moversea('contacto')">Contacto</button>
    </div>
  </nav>
</div>