.botones {
    color: rgb(0, 0, 0);
    display: flex; /* Flexbox para alinear elementos */
    justify-content: flex-start; /* Alinear elementos al lado izquierdo */
    gap: 10px; /* Espaciado horizontal entre los botones */
  }
  
  .botones .btn {
    color: rgb(0, 0, 0);
    background-color: transparent; /* Fondo transparente inicialmente */
    padding: 5px 20px; /* Ajusta el tamaño del botón */
    font-size: 16px; /* Ajusta el tamaño del texto */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid rgb(0, 0, 0); /* Borde inicial */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  }
  
  .botones .btn:hover {
    background-color: #7e3d00; /* Fondo blanco al inicio del hover */
    color: #000000; /* Texto azul durante el hover */
    border-color: #000000; /* Cambia el borde a azul */
  }
  
  .navbar {
    background-color: #ce6400;
    color:rgb(0, 0, 0);
    display: flex; /* Flexbox para alinear elementos */
    justify-content: flex-start; /* Alinear elementos al lado izquierdo */
    gap: 10px; /* Espaciado horizontal entre los botones */
  }
  
  .navbar .btn {
    color: rgb(0, 0, 0);
    background-color: transparent; /* Fondo transparente inicialmente */
    padding: 5px 18px; /* Ajusta el tamaño del botón */
    font-size: 16px; /* Ajusta el tamaño del texto */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid rgb(0, 0, 0); /* Borde inicial */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
  }
  
  .navbar .btn:hover {
    background-color: #7e3d00; /* Fondo blanco al inicio del hover */
    color: rgb(0, 0, 0); /* Texto azul durante el hover */
    border-color: rgb(0, 0, 0); /* Cambia el borde a azul */
  }
  .pos-f-t {
    background-color: #ce6400; /* Cambia el fondo principal */
  }
  .bg-dark {
    background-color: #ce6400 !important; /* Cambia el fondo de las secciones colapsadas */
  }
  .puntos{
    color:rgb(0, 0, 0);
    margin-left: 20px;
    display: flex; /* Flexbox para alinear elementos */
    justify-content: flex-start; /* Alinear elementos al lado izquierdo */
    gap: 10px; /* Espaciado horizontal entre los botones */
  }

