.cuerpo{
  background: #ce6400; /* Cambia los colores según prefieras */
  margin: 0; /* Elimina márgenes predeterminados */
}
h1 {
  padding: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 50px; /* Ajusta el espacio entre letras */
  font-size: 300%;
  text-align: center;
}
.imagen img{
  width: 300px;             /* Ancho del contenedor */
  height: 300px;            /* Alto del contenedor */
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.imagen{
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.imagen figcaption{
margin-top: 5px;
font-size: 18px;
}
.galeria{
margin-top: 100px;
display: flex;
flex-wrap: wrap;
gap: 150px;
justify-content: center;
padding: 20px;
align-items: center;

}
.texto{
font-size: 25px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-shadow: 0px 0px 2px #ffe2c7; /* Sombra blanca */;

}
.pie{
height: 100px;
}
